body {
  background-color: #c39d88;
  color: #8c807e;
  font-family: "Brush Script MT", "Lucida Handwriting", cursive;
  text-align: center;
  margin: 0;
}

h1, h2, h3 {
  color: #8b645a;
}

p, .sub {
  color: #8c807e;
}

nav a {
  color: #8b645a;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #c39d88;
}

.video-container {
  background-color: #d1c7bd;
  width: 70%;
  max-width: 850px;
  margin: 30px auto 15px auto;
  padding: 25px;
  border-radius: 18px;
}

video {
  width: 80% !important;
  max-width: 700px !important;
  height: auto !important;
  display: block;
  margin: 15px auto;
  border-radius: 12px;
}

.intro {
  margin-top: 10px;
  padding-top: 0;
}

footer {
  color: #8b645a;
  margin-top: 50px;
}
